.dvsiamo{
    margin: auto;

    h2{
        
        text-shadow: 0 0 2px gray;
        font-style: italic;
        padding: 5px;
        font-size: 2rem;
        box-shadow: 5px 5px 5px black ;
       text-align: center;
       margin-top: 50px;
    }
}
.container2 h2{
margin-top: 50px;
text-align: center;
}
.dvsf{
   margin-top: 200px;
}