html {
    font-family: 'Indie Flower';
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    padding: 10px;
    background-color: rgb(163, 155, 155);
    height: 70vh;
    flex-wrap: wrap;

}

.container>div {
    margin-top: 40px;
    height: 230px;
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    flex-basis: 20%;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}

.container div p:first-child {
    font-size: 1.5em;
    margin-top: 75px;
    margin-bottom: 7px;
    font-weight: bolder;
}

.container div p:last-child {
    font-size: 0.8em;
    margin-bottom: 25px;
    text-align: left;
    text-align: center;
    font-weight: bolder;
}

.yellow {
    background-color: rgb(241, 219, 91);
    transform: rotate(-3deg)
}

.green {
    background-color: rgb(165, 245, 173);
    transform: rotate(3deg);

}

.purple {
    background-color: rgb(201, 144, 228);
    transform: rotate(8deg);


}

.container>div:hover {
    transform: scale(1.2);
}