/* IMPOSTAZIONI GENERALI */
html {
    font-size: 62.5%;
}

body {
    font-family: Poppins, 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 15px;
    background-image: url('../img/sfondo.png');
    background-position: center center;
}

* {
    box-sizing: border-box;
}

hr {
    display: none;
}

/* rimuove l'elemento */

/* BUTTON FIXED */
.toTop {
    position: fixed;
    bottom: 10px;
    right: -7px;
}



/* HEADER */
header {
    background: rgb(0, 160, 198);
    background: linear-gradient(180deg, rgba(0, 160, 198, 1) 0%, rgba(3, 109, 134, 1) 68%);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 3px 3px #444;
    margin-bottom: 1.5em;
    padding: 2em 1.5em;
    position: sticky;
    top: 0;
    z-index: 10;
}

header div img {
    margin-bottom: 20px;
}

header nav ul {
    margin: 0;
}

header nav li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

header nav li:last-child {
    margin-right: 0;
}

header nav li a {
    color: white;
    text-decoration: none;
}

header nav li a:hover {
    color: red;
}

header nav li a::before {
    content: "\22c6\0020";
}

/* MAIN */
main {
    background-color: #fff;
    box-shadow: 0 3px 3px #444;
    padding: 2em 1em;
    margin-bottom: 1.5em;
}

section {
    background-color: #e3e3e3;
    padding: 2.5em 1em 1em;
    margin-bottom: 2em;
    position: relative;
}

section h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
    background-color: #a3a3a3;
    position: absolute;
    top: -0.5em;
    left: 5%;
    padding: 0 1em;
    box-shadow: 1px 1px 2px #333;

}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin-bottom: 0.7em;
}

p,
address,
ul,
ol,
dl,
blockquote {
    margin-bottom: 1.2em;
}

h1+p {
    color: #a0a0a0;
}

.imgLeft {
    float: left;
    margin-right: 20px;
    border: 4px solid #00A0C6;
    outline: 4px solid #a02571;
    padding: 3px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

ul,
ol {
    margin-left: 2em;
}

a {
    color: #00A0C6;
    font-weight: bold;
}

strong {
    color: #a02571;
    font-weight: bold;
}

code {
    background-color: #e3e3e3;
    border: 1px solid #969494;
    border-radius: 5px;
}

iframe {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 20px;
}

/* TABELLE */
table {
    margin-bottom: 2em;
}

caption {
    font-weight: bold;
    font-style: italic;
}

thead tr {
    background-color: #3f6bca;
    color: #ffffff;
}

th,
td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
    padding: 5px;
    border: 0;
    border-bottom: 1px dashed #333;
}

button {
    padding: 4px 7px;
    background-color: #3f6bca;
    border: 0;
    color: white;
    font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

aside div {
    background-color: #e3e3e3;
    border: 1px solid #c3c3c3;
    margin-bottom: 1em;
    padding: 1em;
}

aside div p:last-child {
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: right;
}


/* FOOTER */
footer {
    background: rgb(53, 53, 53);
    background: linear-gradient(0deg, rgba(53, 53, 53, 1) 0%, rgba(5, 85, 103, 1) 68%);
    box-shadow: 0 3px 3px #444;
    color: #f0f0f0;
    padding: 1em;
    text-align: center;
    font-size: 1.2rem;
}

footer a {
    color: fuchsia;
}
.fa-caret-square-up{
    color: violet;
    display: inline-block;
    font-size: 50px;
    z-index: 2;
    position: fixed;
    top: 45vh;
    right: -11px;
    background-color: rgba(0, 160, 198, 0.5);
    height: 44px;
    line-height: 44px;
    border-radius: 10%;
}

.fa-calendar-alt{
    color: rgb(11, 152, 199);
    display: inline-block;
    font-size: 50px;
    font-weight: lighter;
    z-index: 2;
    position: fixed;
    top: 35vh;
    right: -11px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 42px;
    line-height: 39px;
    border-radius: 10%;

}

.fa-plus-square {
    color: rgb(11, 152, 199);
    display: inline-block;
    font-size: 50px;
    font-weight: lighter;
    z-index: 2;
    position: fixed;
    top: 25vh;
    right: -11px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 42px;
    line-height: 38px;
    border-radius: 10%;
}
@media screen and (min-width:440px) {
    body {
        font-size: 1.5rem;
        
    }
    .tableresponsive {
        margin-right: auto;
        margin-left: auto;
         width: 80vw;
 
    }
    .ytvideo{
        margin-top: 10px;
        margin-bottom: 50px;
        height: 30vh;
    }
    .fa-plus-square, .fa-calendar-alt , .fa-caret-square-up{
        margin-top: 15vh;
    }
}
@media screen and (min-width:620px){
    body{
        font-size: 2rem;
        line-height: 1.7;
    }
    section form{
        font-size: 2.2em;
    }
    #user_email{
        width: 40vw;
        height: auto;
        font-size: 2rem;
    }
    .news{
        font-size: 1.3em;
    }
    button[type=submit] {
        font-size: 2rem;
    }
    .imgLeft{
        width: 15vw;
        height: auto;
       
  }
 
header div:first-of-type {
    font-size: 1.1em;
}
header ul:first-of-type{
    font-size: 1.1em;
}

    

}
@media screen and (min-width:740px){
    body{
        font-size: 2rem;
        line-height: 2;
    }
   
    .logodelblog{
        width: 25vh;
        height: auto;
        
    }
   
    .imgLeft{
        width: 12vw;
        height: auto;
       
  }
  .fa-plus-square, .fa-calendar-alt , .fa-caret-square-up{
    margin-top: 35vh;
}
}
@media screen and (min-width:900px){
    body{
        font-size: 2.2rem;
        line-height: 2.2;
    }
    header div:first-of-type {
        font-size: 1em;
    }
    header ul:first-of-type{
        font-size: 1em;
    }
    .headofpage{
        padding-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .imgLeft{
        width: 10vw;
        height: auto;
       
  }
  .ytvideo{
    height: 40vh;
    
  }
  .Titepic{
    margin-bottom:-20px;
  }
}
@media screen and (min-width:1200px){
    body{
        font-size: 2.6rem;
        line-height: 2.2;
    }
    .imgLeft{
        width: 10vw;
        height: auto;
       
  }
  .Titepic{
    margin-bottom:-20px;
  }
}
@media print {
    footer, .ytvideo, .headofpage, .secform, aside, .social, .toTop{
display:none;
}
main{
    box-shadow: none;
}
   body{
       font-size: 23px;
   }
}
