.btn{
    display: inline-block;
    font-size:$grandezze2;
    margin-top:$spazi;
    margin-right: $spazi;
    text-decoration: none;
    color: $link-color;
    background-color: rgb(0, 89, 255);
    border:2px solid black;
    padding:5px;
    
}
